span{
    background-color: orange;
    width: 180px;
    height: 200px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    font-size: 28px;
}
div{
    background-color: red;
    color: white;
    width: 180px;
    height: 200px;    
    display:none;
    text-align: center;
    line-height: 200px;
    font-size: 28px;

    /* visibility: hidden; */
}
article{
    background-color: cyan;
    display: inline-block;
    width: 180px;
    height: 200px;  
    text-align: center;
    line-height: 200px;
    font-size: 28px;
}