body{
    background-image: url('https://images.bhaskarassets.com/web2images/521/2024/01/23/pti01222024000336b_1706009324.jpg');
    background-repeat: no-repeat;
    background-size: 400px 300px;
    background-position:center;
    background-attachment: fixed;
    
}